/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
} */


.wrapper {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-image: linear-gradient(0deg, rgb(163, 8, 8), rgba(247, 190, 6, 0.89));
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wrapper .box {
	position: relative;
	width: 280px;
	height: 400px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	transform-style: preserve-3d;
	transform: perspective(800px);
}

h2 {
	color: #161515;
	font-size: 2.5rem;
	text-align: center;
	font-family: "Acme", sans-serif;
}

p {
	color: #ccc;
	margin: 20px 10px;
	font-family: "Fira Code", monospace;
}

img {
	width: 200px;
	border-radius: 8px;
	background-color: rgb(247, 244, 244);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 30px 0;
	padding: 10px;
}

li {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

i {
	color: #ccc;
	font-size: 1.5rem;
	transition: all 0.3s ease;
}

li:hover .fa-twitter {
	transform: translate3d(0, -10px, 20px);
	color: #00acee;
}

li:hover .fa-github {
	transform: translate3d(0, -10px, 20px);
	color: gray;
}

li:hover .fa-linkedin-in {
	transform: translate3d(0, -10px, 20px);
	color: #077099;
}


.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
	border: 0 solid;
	box-sizing: border-box;
}

.btn-53 {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: button;
	background-color: #000;
	background-image: none;
	color: #fff;
	cursor: pointer;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-size: 100%;
	line-height: 1.5;
	margin: 0;
	-webkit-mask-image: -webkit-radial-gradient(#000, #fff);
	padding: 0;
}


.btn-53:disabled {
	cursor: default;
}

.btn-53:-moz-focusring {
	outline: auto;
}

.btn-53 svg {
	display: block;
	vertical-align: middle;
}

.btn-53 [hidden] {
	display: none;
}

.btn-53 {
	border: 1px solid;
	border-radius: 999px;
	box-sizing: border-box;
	display: block;
	font-weight: 900;
	overflow: hidden;
	padding: 1.2rem 3rem;
	position: relative;
	text-transform: uppercase;
}

.btn-53 .original {
	background: #fff;
	color: #000;
	display: grid;
	inset: 0;
	place-content: center;
	position: absolute;
	transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
	transform: translateY(100%);
}

.btn-53 .letters {
	display: inline-flex;
}

.btn-53 span {
	opacity: 0;
	transform: translateY(-15px);
	transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
	transform: translateY(15px);
}

.btn-53:hover span {
	opacity: 1;
	transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
	transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
	transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
	transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
	transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
	transition-delay: 0.5s;
}